@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

h1 {
  @apply font-[800] text-[35px] lg:text-[45px];
}
h2 {
  @apply font-[800] text-[35px] lg:text-[45px];
}

.border {
  @apply border-[1px] border-black/20;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* a {
  @apply text-[#2FD88B];
} */
